<h1>NewsWorks</h1>
<% if current_user %>
<h2>Welcome <%= current_user.email %></h2>
<% end %>
<%= link_to "New Post", new_post_path %>
<%= link_to "View Feed", posts_path %>
<%= link_to "View Dashboard", dashboard_path(current_user) if current_user%>
